.goldenline{
    float: left;
    padding: 2%;
    width: 70px;
    height: 70px;
    background: #FBBF00;
    margin: 2%;
    border-radius: 30px;
}

.goldenline:hover{
    background: #daad00;
}

svg:hover{
    transition: 0.3s transform linear;
    transform: rotate(120deg);
}

svg{
    transition: 0.3s transform linear;
    transform: rotate(-120deg);
}
