body{
    background-image:  url("background.png");
    color: #ffffff;
    font-family: 'Karla', sans-serif;
}

#container{
    width: 99%;
    height: 98%;
    margin-left: auto;
    margin-right: auto;
    border: 2px #FF524A solid;
    border-radius: 50px;
    position: fixed;
}

footer{
    width: 90%;
    margin-top: 22%;
    margin-bottom: 1%;
    margin-left: 10%;
    text-align: center;
}
article{
    width: 50%;
    color: #1f3a66;
    background: #f2dbcf;
    margin-left: 28%;
    padding: 2%;
    border-radius: 10px;
}
