body{
    background-image:  url("../imgs/background.jpg");
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#container{
    width: 98.5%;
    height: 97%;
    margin-left: auto;
    margin-right: auto;
    border: 5px #b87dfc85 solid;
    border-radius: 50px;
    position: fixed;
    background: #7a7a7ace;
}

footer{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 10%;
    text-align: center;
}

img{
    width: 30%;
    height: 30%;
    margin-right: 2%;
    margin-bottom: 1%;
    float: left;
    border: 2px double #3c3173;
    border-bottom-left-radius: 200px 100px;
    border-top-right-radius: 200px 100px;
    margin-top: 2%;
}

article{
    width: 50%;
    color: #3c3173;
    background: #f2dbcf;
    margin-left: 28%;
    padding: 1% 2%;
    border-radius: 10px;
}

article > ul{
    list-style: none;
}