.mainScanOfProject{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-bottom: 4%;
    border: 2px double #3c3173;
    margin-top: 2%;
}

a{
    text-decoration: none;
}

.titleOfProject{
    font-weight: bold;
    text-align: center;
    color: #3c3173;
    margin-top: -2%;
}

.icon-left-open-outline{
    position: absolute;
    top: 50%;
    border: 2px solid #3c3173;
    border-radius: 50%;
    padding: 3px 3px 3px 0;
}

.icon-left-open-outline:hover{
    cursor: pointer;
    background: #3c3173;
    color: #f2dbcf;
    border-radius: 50%;
}

.icon-right-open-outline{
    position: absolute;
    float: right;
    top: 50%;
    left: 78%;
    border: 2px double #3c3173;
    border-radius: 50%;
    padding: 3px 0 3px 3px;
}

.icon-right-open-outline:hover{
    cursor: pointer;
    background: #3c3173;
    color: #f2dbcf;
    border-radius: 50%;
}

#backToThePreviousPage{
    display: flex;
    margin-bottom: 2%;
    border: #3c3173 solid 1px;
    border-top-left-radius: 200px 100px;
    border-bottom-right-radius: 200px 100px;
    width: 30%;
    padding: 1% 4%;
    margin-left: 25%;
}

#backToThePreviousPage:hover{
    background-color: #b87dfc93;
}

.icon-undo:before{
    font-size: 150%;
}

#scansOfProject{
    margin-bottom: 3%;
}

.storageForImage {
    position: relative;
    display: inline-flex;
    max-width: 150px;
    max-height: 100px;
    margin-top: 1%;
    margin-right: 2%;
    
}

.imageOfProject{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20%;
    position: relative;
    margin-left: 7%;
}

.icon-search-1:before { 
    font-size: 300%;
    position: fixed;
    justify-content: center;
    padding: 1.65% 3.24%;
    z-index: 1;
    background-color: #b87dfc93;
    border-radius: 20%;
    opacity: 0;
    cursor: pointer;
}

.icon-search-1:hover:before { 
    opacity: 1;
}